<article ng-repeat="post in posts" class="entry">
  <div class="content-box" ng-class="{'favorite': post.favorite}">
    <h2 class="title">{{ post.title }}</h2>
    <div>{{ post.text }}</div>
  </div>
  <div class="meta-box">
    <time datetime="2014-02-14" class="datetime">{{ post.date | date:'MMM d, yyyy' }}</time>
    <ul class="options" role="menu">
      <li><a href="#" ng-click="setFavoritePost(post._id)" title="Favorite" class="icon-options icon-favorite"></a></li>
      <li><a href="/posts/{{ post._id }}" title="Update" class="icon-options icon-edit"></a></li>
      <li><a href="#" ng-click="removePost(post._id)" title="Remove" class="icon-options icon-delete"></a></li>
    </ul>
  </div>
</article>
